:root {
  --surface-1: #d9e5f2;
  --surface-2: #f4f8fb;
  --text-1: #000000;
  --text-2: #ffffff;
  --border: 1px solid #334155;
}

body {
  /* background: var(--surface-1); */
  background: linear-gradient(135deg, var(--bg-1), var(--bg-2));
  color: var(--text-1);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 30px;
  margin-right: 30px;
}
label{
  padding-left: 17px;
}
.header{
  padding-top: 8px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}
.logo {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.tagline{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6a7075;
}
.divider{
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(145, 140, 140);
  font-size: small;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(145, 140, 140);
}
.divider span {
  padding: 0 12px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.submit{
  background-color: rgba(19, 139, 235);
  color: var(--text-2);
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
  width: 100%;
}

.submit:active{
  opacity: 0.5;
}
.logo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--surface-2);
  color: var(--text-1);
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 18px;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
  width: 100%
}

.icon {
  width: 18px;
  height: 18px;
}
.logo-row {
  display: grid;
  gap: 12px;
}
a{
  color: rgba(19, 139, 235);
  text-decoration: none;
}
.redirect{
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  color:var(--text-1);
  font-size: small;
  white-space: nowrap; 
}

input, button{
  font: inherit;
}

form {
  display: grid;
  gap: 1rem;
}

.form-group {
  display: grid;
  gap: 0.5rem;
}

label{
  font-size: 1rem;
}

input{
  background: var(--surface-2);
  border: none;
  border-radius: 10px;
  padding: 1ex 2ex;
}
input::placeholder{
  /* color: var(--text-1); */
  font-size: small;
}

.login{
  display: grid;
  gap: 0.5rem;
  place-items: centre;
}